body{
    background-color:aliceblue;
}
.header,.recipe-header{
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    color:black;
    margin: 10px;
    padding: 5px;
    border: 5px solid lightblue;
    text-align:center;
    height: fit-content;
}
.recipe-index{
    width: auto;
    height: 200px;
    border: 5px solid lightblue;
    margin: 100px 10px;
    padding: 5px;
    vertical-align: middle;
}

.crazy-chef{
    width: 200px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 100px;
    padding: 5px;
}

.recipes{
    display: inline-block;
    vertical-align: middle;
    margin-left: 125px;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-style: italic;
}

.recipe-page-image{
    margin:10px;
    text-align: center;
    border: 5px solid lightblue;
}

.recipe-image{
    width: 500px;
    height: auto;
    margin: 10px;
}
.description,.ingredients,.steps{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color:black;
    margin: 10px;
    padding: 5px;
    border: 5px solid lightblue;
    text-align:justify;
    height: fit-content;
}

button{
    font-size: x-large;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    background-color: lightpink;
    width: 100px;
    height: fit-content;
    margin: 10px;
}